main{
    width: 1152px;
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#blog{
    

    .blog{

        &-container{
            width: 1024px;
            margin: 0 auto;
        }

        &-box{
            text-align: center;
            display: flex;
            
            
        }

        &-boxes{
            // border: 1px solid black;
            text-align: center;
            width: 341px;

            &-p{
                padding: 7px;
            }
        }
    }
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    border: 1.43px solid #000000;
    padding: 25px;
}