header{
  height: 120px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    display: none;
  }
}

.header-right{
  ul{
    display: flex;
    list-style: none;
  }

  li{
    margin-right: 20px; 
  }
}

.kv-container{
  text-align: center;
  // border: solid 1px gold;
  position: relative;

  .kv-logo{
    position: absolute;
    top: -110px;
    left: 130px;
  }

  .kv-slide{
    text-align: center;
  }

  .kv-text{
    position: absolute;
    top: 235px;
    left: 785px;
    // border: solid 1px gold;  
  }

}