
header{
  height: 120px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    display: none;
  }
}

.header-right{
  ul{
    display: flex;
    list-style: none;
  }

  li{
    margin-right: 20px; 
  }
}

.kv-container{
  text-align: center;
  // border: solid 1px gold;
  position: relative;

  .kv-logo{
    position: absolute;
    top: -110px;
    left: 10px;
  }

  .kv-slide{
    text-align: center;
  }

  .kv-text{
    position: absolute;
    top: 235px;
    left: 655px;
    // border: solid 1px gold;  
  }
}

#kv{
  h2{
    margin-left: 20px;
  }
}





// レスポンシブ対応
@media screen and (max-width: 767px) {
  main{
    width: 100%;
  }


  .kv-container{
    position: relative;
  }

  .kv-logo{
    position: absolute;
    top: -500px;
    left: 350px;
  }


  header{
    overflow: hidden;
    // position: fixed;
    width: 100%;
  }
  
  .header-left img{
    width: 80%;
    margin-top: 5%;
  }

  .header-right{
    font-size: 13px;
    position: fixed;
    top: 85px;
    right: -200px;
    transition: right 1s ease;
    color: white;
  }

  .header-right ul{
    display: block;
  } 

  // レスポンシブの大外
}